@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";

.breadcrumb {
  line-height: 1.25 !important;
  padding: 0.5rem 1rem !important;
  border: 1px solid #e9ecef;
  margin-bottom: 0 !important;

  > li:first-child::before {
    @include fa-icon;

    content: $fa-var-folder-open;
    color: $body-color;
    margin-right: 0.333em;
  }
}

.icon-star > li:first-child::before {
  content: $fa-var-star !important;
}
