@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.pathSeg ~ .pathSeg::before {
  content: ' / ';
}

.pathEllipsis::before {
  content: '… ';
}

.inaccessible {
  font-style: italic;
  color: theme-color('secondary');
}

.nameHighlight em {
  font-style: normal;
  font-weight: bold;
}

.groupSeparator {
  background-color: unset !important;
  & > td {
    border-top: none !important;
    padding: 0.1rem !important;
  }
}
