@import "~font-awesome/scss/mixins";
@import "~font-awesome/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/hover";

.label {
  white-space: nowrap;
  color: theme-color('dark');

  @include hover-focus {
    color: darken(theme-color('dark'), 10%);
  }
}

.labelInaccessible {
  font-style: italic;
  color: theme-color('secondary');

  @include hover-focus {
    color: darken(theme-color('secondary'), 10%);
  }
}

.icon::before {
  content: ' ';
  width: 1em;
  display: inline-block;
}

.iconWithChildren::before {
  @include fa-icon();

  content: $fa-var-caret-right;
}

.iconOpen::before {
  content: $fa-var-caret-down;
}

.children {
  display: none;
  margin-left: 0.75em;
}

.childrenOpen {
  display: block;
}
