.table {
  background-color: #fff !important;
  margin-bottom: 0;
}

.keyCell {
  max-width: 0;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accessTable th:not(:global(.sticky-y)) {
  font-weight: normal !important;
  white-space: nowrap;
}

.accessTable > thead > tr > th:not(:global(.sticky-y)) {
  min-width: 35px;
  text-align: center;
}

.accessTable > tbody > tr > td {
  text-align: center;
}
