.stickyTable > thead > tr > th {
  position: sticky;
  top: 0;
  border: none;
  background-color: #fff;
}

.stickyTable > thead > tr > th::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #e9ecef;
}

.clickable {
  cursor: pointer;
}
