$fa-font-path: "~font-awesome/fonts";
$tooltip-max-width: 300px;

@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";
@import '~react-redux-toastr/src/styles/index';

a:not([draggable=true]),
img:not([draggable=true]) {
  -webkit-user-drag: none;
}

a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
}

html,
body,
#root {
  user-select: none;
  height: 100%;
}

.table-sticky tr:not([class*="table-"]) > th:not([class*="table-"]) {
  background-color: #fff;
}

.table-sticky.table-hover > tbody > tr:not([class*="table-"]):hover > th {
  background-color: darken(#fff, 5%);
}

.table-sticky > thead > tr > th {
  position: sticky;
  top: 0;
  border: none;
  z-index: 1;
  box-shadow: 0 2px 0 0 $table-border-color;

  &.sticky-y {
    left: 0;
    z-index: 2;
    box-shadow: 2px 2px 0 0 $table-border-color;
  }
}

.table-sticky > tbody > tr > th {
  position: sticky;
  left: 0;
  box-shadow: 2px 0 0 0 $table-border-color;
}

.clickable {
  cursor: pointer;
}

.selectable {
  user-select: text;
}

.hover-container {
  .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover .hover-content {
    opacity: 1;
  }
}
