$fa-font-path: "~font-awesome/fonts";
$tooltip-max-width: 300px;

@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";
@import '~react-redux-toastr/src/styles/index';

a:not([draggable=true]),
img:not([draggable=true]) {
  -webkit-user-drag: none;
}

a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
}

html,
body,
#root {
  user-select: none;
  height: 100%;
}

.table-sticky > thead > tr > th {
  position: sticky;
  top: 0;
  border: none;
  background-color: #fff;
}

.table-sticky > thead > tr > th::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #e9ecef;
}

.clickable {
  cursor: pointer;
}

.selectable {
  user-select: text;
}

.hover-container {
  .hover-content {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover .hover-content {
    opacity: 1;
  }
}
