@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $gray-100;
}

.nav {
  flex-shrink: 0;

  /* -webkit-app-region: drag; */
}

/* .nav a:not(:global(.navbar-brand)),
.nav form {
  -webkit-app-region: no-drag;
} */

.form {
  width: 50%;
}

.form > :global(.input-group) {
  flex-grow: 1;
}

.logo {
  display: inline-block;
  vertical-align: -20%;
  height: 24px;
  width: 24px;
  background-color: white;
  -webkit-mask: url(../logo.svg) no-repeat center;
  -webkit-mask-size: contain;
}
