.users {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.actionBar {
  margin-bottom: 1rem;
  flex-shrink: 0;
}

.tableContainer {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 1rem;
}
