.ellipsis {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label {
  white-space: nowrap;
}

.label i {
  display: none !important;
}

@media (min-width: 1000px) {
  .label i {
    display: inline-block !important;
  }
}
